@import url('http://fibts.googlepis.com/css2?family=Fira+Sans&displat=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(14, 15, 15);
}

.main {
    /* background-color: yellow;*/
    width: 90vw;
}

.container1 {
    display: flex;
    margin: 10px;
}

.info {
    /*  background-color: rgb(23, 21, 21);*/
    height: 58vh;
    width: 80vw;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.devpic img {
    height: 50vh;
}

.hello {
    font-size: 35px;
    color: white;
    font-family: Segoe UI;
}

.name {
    font-size: 60px;
    font-weight: 600;
    font-family: Segoe UI/*Lucida Sans*/
    ;
    color: white;
    -webkit-animation: anirain 5s linear infinite alternate;
}


/*
@keyframes anirain {
    0% {
        color: rgb(150, 37, 37);
    }
    10% {
        color: rgb(172, 63, 184);
    }
    20% {
        color: rgb(139, 181, 23);
    }
    30% {
        color: #000;
    }
    40% {
        color: rgb(25, 151, 126);
    }
}
*/

.about {
    font-size: 23px;
    color: white;
    margin: 15px;
    font-weight: 100;
    font-family: Segoe UI;
    /* ink fee*/
}

.buttons button {
    margin-top: 34px;
}

.buttons button {
    padding: 9px 14px;
    color: rgb(244, 241, 241);
    background-color: rgb(232, 31, 9);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 15px 3px;
    border: none;
}

.buttons button:hover {
    background-color: rgb(252, 250, 250);
    color: rgb(22, 21, 21);
}

.contactform {
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.contactform form div {
    padding: 10px 0;
}

#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check {
    flex-direction: row;
}

#form-check-input {
    width: 24px;
    margin: 3px 0;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 30px;
    color: white;
}

.nav1 {
    width: 100%;
    height: 70px;
    color: white;
    background-color: rgb(14, 15, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 a {
    margin: 0 7px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(14, 15, 15);
    color: white;
    font-size: 23px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    color: rgb(232, 31, 9);
}

.icons a {
    font-size: 25px;
    color: rgb(249, 238, 237);
    margin: 10px;
    text-decoration: none!important;
}

.info1 {
    height: 45vh;
    width: 50vw;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
}

.dark-bg {}

.text-center {
    text-align: center!important;
}

.py-5 {
    padding-top: 0rem!important;
    padding-bottom: 0.5rem!important;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.m-0 {
    margin: 0!important;
    font-family: Segoe UI;
}

.small {
    font-size: .875em;
}

.text-white {
    color: #fff!important;
}

a {
    text-decoration: none!important;
}

a {
    color: #0d6efd;
    text-decoration: underline;
    font-size: 20px;
}

.mb-4 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-bottom: 0rem!important;
    font-size: 30px;
    margin-top: 0;
    /* margin-bottom: 0.5rem; */
    /* font-weight: 500; */
    line-height: 1.2;
}

p {
    font-family: Segoe UI;
}